<h1> Dashboard </h1>
<h3> Welcome {{name}} </h3>
<p> Here are your stories</p>

{{#if results}}
    <table class="striped">
        <thead>
            <tr>
                <th> Title</th>
                <th> Date</th>
                <th> Status</th>
            </tr>
        </thead>

        <tbody>
            {{#each results}}
                <tr>
                    <td><a href="stories/{{_id}}"></a> {{title}}</td>
                     <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status"> {{status}}</span></td>
                    <td>
                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination flex">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {{#each pages}}
            <li class="page-item"><a class="page-link" href="/dashboard?page={{@index}}&limit=5">{{@index}}</a></li
            {{/each}}
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

{{else}}
    <p> You have not created any stories. </p>
{{/if}}